/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;;
}
a{
    text-decoration: none;
    color: white;
}
.main-container{
    position: relative;
    background-image: url('../images/home_img.png');
    background-size:100%;
    background-repeat: no-repeat;
    height: 100vh;
}
/* End General Styles */
/* Start first Header */
.first-header{
    margin: auto;
    margin-bottom: 25px;
    padding: 20px 0;
    width: 90%;
    text-align: center;
    font-size: 16px;
    background-color: #2b2a29;
    /* i don't understand this property very well */
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
}
.first-header a{
    transition: all 0.5s;
    margin-right: 15px;
}
.first-header a:hover{
    color: #f26522;
}
.first-header nav{
    display: flex;
    justify-content: center;
}
/* End first Header */
/* Start Second Header */
.second-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
/* End Second Header */

/* Start Third Header */
.third-header{
    /* background-color: #eee; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
}
/* ///////////////1///////////////// */
.third-header .menu-bar button{
    border: none;
    background: none;
    font-size: 40px;
    color: black;
    cursor: pointer;
}
/* ///////////////2////////////////// */
.third-header .ctn-categories-menu{
    position: relative;
}
.ctn-categories-menu .ctn-btn button{
    background-color: #2b2a29;
    color: white;
    padding: 6px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.ctn-categories-menu .ctn-btn button:active{
    opacity: 0.6;
}
.ctn-categories-menu nav{
    display: none;
    background-color: rgb(223, 223, 223);
    position: absolute;
    top: 41px;
    left: 0;
    width: 209px;
    line-height: 33px;
    padding: 10px 0 10px 21px;
    font-size: 15px;
}
.ctn-categories-menu nav.nav-display{
    display: block;
}
.ctn-categories-menu nav a{
    display: block;
    color: #2b2a29;
}

/* ////////////////////3/////////////////////// */
.search-bar form{
    display: flex;
    align-items: center;
}
.search-bar form input{
    flex-grow: 0;
    border: 0;
    outline: none;
    padding: 10px;
    width: 419px;
    font-size: 16px;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
}
.search-bar form button{
    flex-grow: 0;
    border: none;
    background-color: #f26522;
    font-size: 16px;
    padding: 10px 13px;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    cursor:pointer;
}
.search-bar form button i{
    color: white;
}

/* ////////////////////4///////////////////// */
.ctn-language-menu{
    position: relative;
}
.ctn-language-menu .ctn-btn button{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 120px;
    cursor: pointer;

}
.ctn-language-menu nav{
    display: none;
    position: absolute;
    top: 43px;
    left: 0;
    background-color: white;
    padding: 6px;
    padding-right: 30px;
    padding-left: 10px;
}
.ctn-language-menu nav.nav-display{
    display: block;
}
.ctn-language-menu nav a span{
    margin-right: 10px;
    color: #2b2a29;
    font-size: 13px;
}
.ctn-language-menu .ctn-btn button span{
    transition: 0.5s;
}
.ctn-language-menu .ctn-btn button:hover span{
    color: #f26522;
}
/* ////////////////5/////////////////////// */

.ctn-icons{
    display: flex;
    color: white;
}
.ctn-icons .name-icon{
    margin-right: 15px;
    cursor: pointer;
}
.ctn-icons .name-icon span{
    transition: color 0.5s;
}
.ctn-icons .name-icon:hover span{
    color: #f26522;
}
/* End Third Header */
/* Start responsive Header */
.responsive-header{
    display: none;
    justify-content: space-between;
    padding: 10px 20px;
}
.responsive-header .ctn-language-menu button {
    background: none;
    color: white;
}
/* End responsive Header */

/* Start Main Header */

.main-header{
    position: relative;
}

/* End Main Header */


/* Start Responsive Nav */


.responsive-nav{
    margin-left: -500px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    background-color:#141311;
    color: white;
    padding: 20px;
    transition: all 0.5s;
}
.show-nav{
    margin-left: 0;
}
.responsive-nav .ctn-x {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.responsive-nav .ctn-x button{
    background:none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}
.responsive-nav .ctn-x button:hover{
    color: #f26522;
}
.responsive-nav nav.links a{
    display: block;
    font-size: 19px;
    margin-bottom: 30px;
    transition: 0.5s;
}
.responsive-nav nav.links a:hover{
    color: #f26522;
}
/* End Responsive Nav */

/* Start Slider */

.slider{
    position: relative;
    width: 100%;
    padding: 20px;
    height: 225px;
    margin-top: 30px;
}
.slides,.slides,.slide{
    width: 100%;
    height: 100%;
}
.slides .slide{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slides .active{
    display: flex;
    height: 100%;
}
.slide h1{
    font-size: 60px;
    color: white;
    width: 52%;
    text-align: center;
    margin-bottom: 10px;
}
.slide button{
    padding: 10px 30px;
    background-color: #2b2a29;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.slider .prev-btn,.next-btn{
    position: absolute;
    background-color: #eee;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.slider .prev-btn{
    left: 130px;
    top: 45%;
}
.slider .next-btn{
    right: 130px;
    top: 45%;
}
/* End Slider */






/* /////////////////////////////////////////////// */
/* Media Queries <= 1036px */
@media (width <= 1130px){
    .third-header{
        padding: 10px 30px;
    }
    .third-header .ctn-categories-menu{
        display: none;
    }
    .search-bar form input{
        width: 240px;
    }
    .main-container{
        background-size:100% 100%;
    }
}

/* Media Queries <= 866px*/
@media (width <= 866px) {
    .first-header{
        display: none;
    }
    .main-container{
        background-size: cover;
        background-position: 51% 150%;
    }
}

/* Media Queries <= 711px*/
@media (width <= 711px) {
    .third-header .ctn-language-menu{
        display: none;
    }
    .third-header .ctn-icons {
        display: none;
    }
    .responsive-header{
        display: flex;
        align-items: center;
    }
    .search-bar form input{
        width: 400px;
    }
}

/* Media Quereis <= 570px */
@media (width <= 570px) {
    .search-bar{
        width: 70%;
    }
    .search-bar form,.search-bar form input{
        width: 100%;
    }
}